<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <button class="navbar-toggler navbar-toggler-right bg-warning" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-warning " routerLink="/home"><b>GameBuzz</b></a>
  <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning " routerLink="/games" routerLinkActive="is-active">Games <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" routerLink="/matches" routerLinkActive="is-active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" routerLink="/leaderboard" routerLinkActive="is-active">Leaderboards</a>
      </li>
    </ul>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning" *ngIf="token === ''" (click)="open(content2)">Sign Up</button>
      <button type="button" class="btn btn-danger"  *ngIf="token === ''" (click)="open(content)">Login</button>
      <button type="button" class="btn btn-info"  *ngIf="token !== ''" routerLink="/profile">Profile</button>
      <button type="button" class="btn btn-danger"  *ngIf="token !== ''" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <form [formGroup]='loginForm'>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">@</span>
             </div>
             <input type="text" formControlName="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><b>**</b></span>
             </div>
             <input type="text" formControlName="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <a class="text-danger mr-auto">{{errorMessageLogin}}</a>
      <button type="button" class="btn btn-outline-warning" (click)="login()">Login</button>
    </div>
  </form>
</ng-template>

<ng-template #content2 let-modal>
  <form [formGroup]='registerForm'>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sign Up</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Name</span>
             </div>
             <input formControlName="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">id</span>
             </div>
             <input formControlName="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><b>**</b></span>
             </div>
             <input formControlName="password" type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><b>**</b></span>
             </div>
             <input formControlName="cpassword" type="text" class="form-control" placeholder="Confirm Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><b>@</b></span>
             </div>
             <input type="email" formControlName="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <a class="text-danger mr-auto">{{errorMessageSignIn}}</a>
      <button type="button" class="btn btn-outline-warning" (click)="register()">Sign Up</button>
      <button type="button" class="btn btn-outline-warning" (click)="tester()">Test</button>
    </div>
  </form>
</ng-template>
