<nav class="navbar navbar-expand-lg  bg-dark">
  <div class="container">
    <a class="navbar-brand text-warning" href="#"><b>GameBuzz</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-warning " href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning " href="#">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning " href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning " href="#">Leaderboards</a>
        </li>
      </ul>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning" (click)="open(content2)">Sign Up</button>
        <button type="button" class="btn btn-danger" (click)="open(content)">Login</button>
      </div>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1">@</span>
           </div>
           <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1"><b>**</b></span>
           </div>
           <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning" (click)="modal.close('Save click')">Login</button>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sign Up</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1">id</span>
           </div>
           <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1"><b>**</b></span>
           </div>
           <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1"><b>**</b></span>
           </div>
           <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1"><b>@</b></span>
           </div>
           <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning" (click)="modal.close('Save click')">Sign Up</button>
  </div>
</ng-template>
