<nav class="navbar navbar-expand-lg  bg-dark">
  <div class="container">
    <a class="navbar-brand text-warning" href="#"><b>GameBuzz</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-warning " href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning " href="#">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning " href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning " href="#">Leaderboards</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-warning my-2 my-sm-0 mr-1" type="submit">Sign Up</button>
          <button class="btn btn-danger my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
