<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">TxnID</th>
      <th scope="col">Status</th>
      <th scope="col">Match</th>
      <th scope="col">Amount</th>
      <th scope="col">Added On</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of keys; let i = index">
      <tr>
        <th scope="row" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{orderData[item].txnid}}</th>
        <td >{{orderData[item].status}}</td>
        <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;"routerLink="/match/{{orderData[item].productinfo}}">{{orderData[item].productinfo}}</td>
        <td>{{orderData[item].amount}}</td>
        <td>{{orderData[item].addedon}}</td>
        <td>{{orderData[item].fullname}}</td>
        <td>{{orderData[item].email}}</td>
        <td>{{orderData[item].phone}}</td>
        <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{orderData[item].user}}</td>
      </tr>
    </ng-container>


  </tbody>
</table>
</div>
