<br>
<div class="container">
  <h3>Games <span class="badge badge-warning">New</span></h3>
  <hr>
  <div class="container">
  <div class="row">
    <ng-container *ngFor="let item of gamesObj">
      <div class="col-3">
      <div class="card" style="box-shadow: 0 0 8px 0 black">
        <img src="/assets/images/{{item[0]}}.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">{{item[1].game}}</h6>
          <a class="btn btn-warning">View</a>
        </div>
      </div>
      <hr>
    </div>
    </ng-container>
  </div>
</div>
</div>
