<br>
<div class="container">
  <h3>Games <span class="badge badge-warning">New</span></h3>
  <hr>
  <div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="/assets/images/pubg-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">PUBG Mobile</h6>
          <a href="#" class="btn btn-warning">View</a>
        </div>
      </div>
      <hr>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/images/fortnite-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Fortnite</h6>
          <a href="#" class="btn btn-warning">Coming Soon!</a>
        </div>
      </div>
      <hr>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/images/csgo-card.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">CS:GO</h6>
          <a href="#" class="btn btn-warning">Coming Soon!</a>
        </div>
      </div>
      <hr>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/images/apex-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Apex Legends</h6>
          <a href="#" class="btn btn-warning">Coming Soon!</a>
        </div>
      </div>
      <hr>
    </div>

  </div>
</div>
</div>
