<br>
<div class="container">
  <h3>Matches <span class="badge badge-warning">Trending</span></h3>
  <hr>
  <div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img src="/assets/images/pubg-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">PUBG Mobile</h6>
          <p class="card-text">10th Mar | 9:00PM</p>
          <a href="#" class="btn btn-warning">Register!</a>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="/assets/images/pubg-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">PUBG Mobile</h6>
          <p class="card-text">10th Mar | 8:00PM</p>
          <a href="#" class="btn btn-warning">Register!</a>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="/assets/images/pubg-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">PUBG Mobile</h6>
          <p class="card-text">10th Mar | 7:00PM</p>
          <a href="#" class="btn btn-warning">Register!</a>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="/assets/images/pubg-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">PUBG Mobile</h6>
          <p class="card-text">10th Mar | 6:00PM</p>
          <a href="#" class="btn btn-warning">Register!</a>
        </div>
      </div>
      <hr>
    </div>

  </div>
</div>
</div>
