<br>
<div class="container">
  <h3>Matches <span class="badge badge-warning">Trending</span></h3>
  <hr>
  <div class="container">
  <div class="row">
    <ng-container *ngFor="let item of matchesObj">
    <div class="col-3">
      <div class="card">
        <img src="/assets/images/{{item[1].game}}.jpg" class="card-img-top" alt="...">
        <div class="infocard">
          <a>Entry: {{item[1].entryfee}} </a>|<a> Win: {{item[1].prizepool}}</a>
          </div>
        <div class="card-body">
          <h6 class="card-title">{{item[1].gamename}}</h6>
          <p class="card-text">{{item[1].date}} | {{item[1].time}}</p>
          <a class="btn btn-warning">Register!</a>

        </div>
      </div>
      <hr>
    </div>
    </ng-container>
  </div>
</div>
</div>
