.card-img-top{
  height:200px;
}

h1,h2,h3,h4,h5,h6{
  color: white;
  font-style: oblique;
}

hr{
  border: none;
  height: 1px;
  background-color: white; /* Modern Browsers */
}

.bold{

}

.navbar{
  border-radius: 10px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;

}

.nav-item{
  border-bottom: 1px solid white;
}
