<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="/assets/images/profile.jpg" class="card-img-top" alt="...">
      </div>
    </div>

    <div class="col-10">
      <div class="container" style="background-color: #343A40; border-radius: 10px; padding: 16px; ">
        <h2 class="text-warning">{{username}} <a style="font-size: 16px;">({{name}})</a></h2>
        <hr>
        <p class="text-warning">Steam : <a>https://steamcommunity.com/profiles/76561198186857074</a></p>
        <p class="text-warning">Facebook : <a>www.facebook.com/playername</a></p>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-light bg-dark">
        <button class="navbar-toggler navbar-toggler-right bg-warning" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-warning bold" [routerLink]="[{ outlets: { playerstats: ['activity']}}]">Recent Activity <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning bold" [routerLink]="[{ outlets: { playerstats: ['achievements']}}]">Achievements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning bold" >Games</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <router-outlet name="playerstats"></router-outlet>
    </div>
  </div>

</div>
