<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="/assets/images/profile.jpg" class="card-img-top" alt="...">
      </div>
    </div>

    <div class="col-10">
      <div class="container" style="background-color: #343A40; border-radius: 10px; padding: 16px; ">
        <a style="position: absolute; right:32px;top:16px;background-color: #ffc10d; width:40px;text-align: center; border-radius:5px; box-shadow: 0 0 8px 0 black">Edit</a>
        <h2 class="text-warning">{{username}} <a style="font-size: 16px;">({{name}})</a></h2>
        <hr>
      </div>
    </div>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-light bg-dark">
        <button class="navbar-toggler navbar-toggler-right bg-warning" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-warning" [routerLink]="[{ outlets: { playerstats: ['activity']}}]" routerLinkActive="bold">Recent Activity </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" [routerLink]="[{ outlets: { playerstats: ['achievements']}}]" routerLinkActive="bold">Achievements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" [routerLink]="[{ outlets: { playerstats: ['orders']}}]" routerLinkActive="bold">My Orders</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <router-outlet name="playerstats"></router-outlet>
    </div>
  </div>

</div>
