<ng-template #content let-modal>
  <form [formGroup]='loginForm'>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">@</span>
             </div>
             <input type="text" formControlName="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><b>**</b></span>
             </div>
             <input type="text" formControlName="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-warning" (click)="login()">Login</button>
    </div>
  </form>

</ng-template>

<ng-template #content2 let-modal>
  <form [formGroup]='registerForm'>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sign Up</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">Name</span>
             </div>
             <input formControlName="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1">id</span>
             </div>
             <input formControlName="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><b>**</b></span>
             </div>
             <input formControlName="password" type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><b>**</b></span>
             </div>
             <input formControlName="cpassword" type="text" class="form-control" placeholder="Confirm Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon1"><b>@</b></span>
             </div>
             <input type="email" formControlName="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-warning" (click)="register()">Sign Up</button>
        <button type="button" class="btn btn-outline-warning" (click)="tester()">Test</button>
    </div>
  </form>
</ng-template>
