/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    display: none;
}

.is-active{
  color: black !important;
  border: 1px solid #FFC10D;
  border-radius: 5px;
}

.color{
  color: #FFC10D;
}
