/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    display: none;
}

.is-active{
  border: 2px solid #FFC10D;
  border-radius: 5px;
}

.color{
  color: #FFC10D;
}

body{
  overflow: hidden;
}
